body {
    display: flex;
    margin: 0;
    flex-direction:column;
}







/********************** header *************************/


.header {
    background-color: #1f2937;
    display: flex;
    justify-content:space-between;
    padding: 0px 150px;
    padding-top: 20px;
}
.header h1 {
    font-size:24px;
    color: #f9faf8;
    margin: 0;
    
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
    font-size:18px;
    gap: 24px;
    margin: 0;
}
a {
     text-decoration:none ;
     color: #f9faf8;

}
/********************** header *************************/








/********************** karsilama *************************/

.karsilama {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 100px 150px;
    gap: 32px;
}

#imgKarsilama {
    width: 900px;
    height: 180px;
    
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 4px;
    padding: 4px 16px;
}
/********************** karsilama *************************/








/********************** Ürünler ***************************/

.urunler{
    text-align: center;
}
.urunler h1{
    color: #000000;
    margin: 28px;

}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding: 0px 150px;
    justify-content: center;

}
.container p {
    width: 250px;
}
img {
    height: 150px;
    width: 250px;
    border: 2px solid black;
    border-radius:10px;
    object-fit: cover;
}

/********************** Ürünler ***************************/











/********************** Bilgilendirme ***********************/

.bilgilendirme {
    background-color: #e5e7eb ;
    display: flex;
    flex-direction: column;
    padding: 50px 200px;
}

#idbilgilendirme {
    font-size: 24px;
    font-style: italic;
}
#idBilgilendirmeisim {
    align-self: flex-end;
    font-weight: 900;
}


/********************** Bilgilendirme ***********************/








/************************ Kayıt Ol *********************************/

.kayitOlKapsayici {
    background: #3882f6;
    margin: 50px 100px;
    border-radius: 8px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 40px 80px;
    gap: 14px;
}
.kayitOlKapsayici p, h1 {
    flex: 1;
    margin: 0;
    color: #ffff;
}
.kayitOlKapsayici button{
    border: 2px solid #ffff;
    padding: 0px 38px;
    height:  34px;
    border-radius:7px;
}

/************************ Kayıt Ol *********************************/







/************************ Telif ******************************/


.telif {
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 8px;
}



/************************ Telif ******************************/