body {
    display: flex;
    margin: 0;
    flex-direction:column;
}







/********************** header *************************/


.header {
    background-color: #1f2937;
    display: flex;
    justify-content:space-between;
    padding: 0px 150px;
}
.header h1 {
    font-size:24px;
    color: #f9faf8;
    margin: 0;
    margin-top: 16px;
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
    font-size:18px;
    gap: 24px;
    margin: 0;
}
a {
     text-decoration:none ;
     color: #f9faf8;

}
/********************** header *************************/








/********************** karsilama *************************/

.karsilama {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 100px 150px;
    gap: 32px;
}

#imgKarsilama {
    width: 300px;
    height: 150px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 4px;
    padding: 4px 16px;
}
/********************** karsilama *************************/








/********************** Ürünler ***************************/

.urunler{
    text-align: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding: 0px 150px;
    justify-content: center;

}
.container p {
    width: 250px;
}
img {
    height: 150px;
    width: 250px;
    border: 2px solid black;
    border-radius:10px;
    object-fit: cover;
}

/********************** Ürünler ***************************/











/********************** Bilgilendirme ***********************/





/********************** Bilgilendirme ***********************/
